/* ----------------------------------------------------- RESET ----------------------------------------------------- */


/* https://github.com/elad2412/the-new-css-reset */
*:where(:not(html, iframe, canvas, img, svg, video, audio):not(svg *, symbol *)) {
    all: unset;
    display: revert;
}

/* Preferred box-sizing value */
*,
*::before,
*::after {
    box-sizing: border-box;
}

/* Reapply the pointer cursor for anchor tags */
a, button {
    cursor: revert;
}

/* Remove list styles (bullets/numbers) */
ol, ul, menu {
    list-style: none;
}

/* For images to not be able to exceed their container */
img {
    max-inline-size: 100%;
    max-block-size: 100%;
}

/* Removes spacing between cells in tables */
table {
    border-collapse: collapse;
}

/* Revert the 'white-space' property for textarea elements on Safari */
textarea {
    white-space: revert;
}

/* Minimum style to allow to style meter element */
meter {
    -webkit-appearance: revert;
    appearance: revert;
}

/* Preformatted text - use only for this feature */
:where(pre) {
    all: revert;
}

/* Reset default text opacity of input placeholder */
::placeholder {
    color: unset;
}

/* Remove default dot (•) sign */
::marker {
    content: initial;
}

/* ----------------------------------------------------- THEME ----------------------------------------------------- */

:root {
    --light-color-background: #ffffff;
    --light-color-warning-text: #cca213;
    --light-color-background-secondary: rgb(246, 248, 250);
    --light-color-active-menu-item: #ddd;
    --light-color-accent: #e0e1e1;
    --light-code-color-background: rgba(175, 184, 193, 0.2);
    --light-select-chevron: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 24' width='25' height='20'><g transform='translate(0 2)'><path fill='%23000' d='M4.93896 8.531L12 15.591L19.061 8.531L16.939 6.409L12 11.349L7.06098 6.409L4.93896 8.531Z'/></g></svg>");
    --light-button-color: rgb(36, 41, 47);
    --light-button-background: rgb(246, 248, 250);
    --light-button-border-color: rgba(31, 35, 40, 0.15);
    --light-button-color-hover: rgb(36, 41, 47);
    --light-button-background-hover: rgb(239, 241, 243);
    --light-button-border-color-hover: rgba(31, 35, 40, 0.15);
    --light-button-box-shadow: rgba(31, 35, 40, 0.04) 0 1px 0, rgba(255, 255, 255, 0.25) 0 1px 0 inset;
    --light-input-border-color: rgb(208, 215, 222);
    --light-input-border-color-focus: rgb(9, 105, 218);

    --dark-color-background: rgb(13, 17, 23);
    --dark-color-warning-text: #f1e05a;
    --dark-color-text-aside: #9b9b9b;
    --dark-color-accent: #45464d;
    --dark-color-background-secondary: rgb(22, 27, 34);
    --dark-code-color-background: rgba(175, 184, 193, 0.2);
    --dark-select-chevron: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 24' width='25' height='20'><g transform='translate(0 2)'><path fill='%23fff' d='M4.93896 8.531L12 15.591L19.061 8.531L16.939 6.409L12 11.349L7.06098 6.409L4.93896 8.531Z'/></g></svg>");
    --dark-button-color: rgb(201, 209, 217);
    --dark-button-background: rgb(45, 47, 54);
    --dark-button-border-color: rgba(240, 246, 252, 0.1);
    --dark-button-color-hover: rgb(201, 209, 217);
    --dark-button-background-hover: rgb(48, 50, 58);
    --dark-button-border-color-hover: rgba(240, 246, 252, 0.1);
    --dark-button-box-shadow: none;
    --dark-input-border-color: rgb(149, 155, 159);
    --dark-input-border-color-focus: rgb(9, 105, 218);

    --pre-color-background: var(--color-background-secondary);
    --code-color-background: var(--color-background-secondary);

    --font-family-body: -apple-system, BlinkMacSystemFont, "Segoe UI", "Noto Sans", Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji";
    --font-family-mono: ui-monospace, SFMono-Regular, SF Mono, Menlo, Consolas, Liberation Mono, monospace;

    --font-size-h1: 2.1rem;
    --font-size-h2: 1.8rem;
    --font-size-h3: 1.5rem;
    --font-size-aside: 0.875rem;
    --header-height: 3rem;
    --line-height: 1.5;
    --member-group-spacing: 3rem;
    --member-spacing: 3rem;
    --paragraph-spacing: 1.2rem;
    --header-margin: 1.5rem 0 1rem 0;
    --term-spacing: 0.5rem;
    --list-spacing: 1.5rem;
    --menu-spacing-vertical: 0.8rem;
    --menu-spacing-horizontal: 1.5rem;
    --header-border-spacing: 0.2rem;
    --border-radius: 0.35rem;
    --table-padding: 0.75rem;
    --content-spacing: 1rem;
    --anchor-icon-size: 1.2rem;
    --anchor-icon-offset: -1.4rem;
    --toolbar-icon-width: 2.5rem;
}

@media (prefers-color-scheme: light) {
    :root {
        --select-chevron: var(--light-select-chevron);
        --code-color-background: var(--light-code-color-background);
        --button-color: var(--light-button-color);
        --button-background: var(--light-button-background);
        --button-border-color: var(--light-button-border-color);
        --button-color-hover: var(--light-button-color-hover);
        --button-background-hover: var(--light-button-background-hover);
        --button-border-color-hover: var(--light-button-border-color-hover);
        --button-box-shadow: var(--light-button-box-shadow);
        --input-border-color: var(--light-input-border-color);
        --input-border-color-focus: var(--light-input-border-color-focus);
    }
}

@media (prefers-color-scheme: dark) {
    :root {
        --select-chevron: var(--dark-select-chevron);
        --code-color-background: var(--dark-code-color-background);
        --button-color: var(--dark-button-color);
        --button-background: var(--dark-button-background);
        --button-border-color: var(--dark-button-border-color);
        --button-color-hover: var(--dark-button-color-hover);
        --button-background-hover: var(--dark-button-background-hover);
        --button-border-color-hover: var(--dark-button-border-color-hover);
        --button-box-shadow: var(--dark-button-box-shadow);
        --input-border-color: var(--dark-input-border-color);
        --input-border-color-focus: var(--dark-input-border-color-focus);
    }
}

:root[data-theme="light"] {
    --select-chevron: var(--light-select-chevron);
    --code-color-background: var(--light-code-color-background);
    --button-color: var(--light-button-color);
    --button-background: var(--light-button-background);
    --button-border-color: var(--light-button-border-color);
    --button-color-hover: var(--light-button-color-hover);
    --button-background-hover: var(--light-button-background-hover);
    --button-border-color-hover: var(--light-button-border-color-hover);
    --button-box-shadow: var(--light-button-box-shadow);
    --input-border-color: var(--light-input-border-color);
    --input-border-color-focus: var(--light-input-border-color-focus);
}

:root[data-theme="dark"] {
    --select-chevron: var(--dark-select-chevron);
    --code-color-background: var(--dark-code-color-background);
    --button-color: var(--dark-button-color);
    --button-background: var(--dark-button-background);
    --button-border-color: var(--dark-button-border-color);
    --button-color-hover: var(--dark-button-color-hover);
    --button-background-hover: var(--dark-button-background-hover);
    --button-border-color-hover: var(--dark-button-border-color-hover);
    --button-box-shadow: var(--dark-button-box-shadow);
    --input-border-color: var(--dark-input-border-color);
    --input-border-color-focus: var(--dark-input-border-color-focus);
}

body {
    font-family: var(--font-family-body);
    line-height: var(--line-height);
}

b, strong {
    font-weight: 600;
}

i, em {
    font-style: italic;
}

svg {
    vertical-align: middle;
    flex-shrink: 0;
}

input,
select {
    font-family: var(--font-family-body);
    font-size: 1rem;
    border: solid 1px var(--input-border-color);
    border-radius: var(--border-radius);
    vertical-align: middle;
}

input {
    padding: 0.3em 0.7em;
}

select {
    padding: 0.3em 1.8em 0.3em 0.7em;
    background: right center no-repeat var(--select-chevron);
}

input:focus,
select:focus {
    border-color: var(--input-border-color-focus);
    box-shadow: 0 0 0 1px var(--input-border-color-focus);
}

dl, menu, ol, ul {
    margin: 0 0 var(--header-margin) 0;
}

/* -------------------------------------------------- TYPOGRAPHY --------------------------------------------------- */

.tsd-typography {
    line-height: var(--line-height);
}

.tsd-typography:empty {
    display: none;
}

h1,
h2,
h3,
h4,
h5,
h6,
.tsd-typography h1,
.tsd-typography h2,
.tsd-typography h3,
.tsd-typography h4,
.tsd-typography h5,
.tsd-typography h6 {
    margin: var(--header-margin);
    font-size: 1rem;
    font-weight: 600;
    line-height: var(--line-height);
}

p,
.tsd-typography p {
    margin: 0 0 var(--paragraph-spacing) 0;
}

.tsd-typography ul {
    padding: 0 0 0 var(--list-spacing);
    list-style: disc;
}

.tsd-typography li {
    margin: 0 0 var(--term-spacing) 0;
}

/* ----------------------------------------------------- TABLE ----------------------------------------------------- */

table {
    margin-top: 1rem;
    width: 100%;
    max-width: 100%;
}

th, td {
    padding: var(--table-padding);
}

th {
    vertical-align: bottom;
    font-weight: 600;
    border-top: 1px solid var(--color-accent);
    border-bottom: 2px solid var(--color-accent);
}

td {
    vertical-align: top;
    border-top: 1px solid var(--color-accent);
}

/* -------------------------------------------------- CODE BLOCKS -------------------------------------------------- */

pre {
    padding: 0.8rem 1rem;
    font-size: 85%;
    font-family: var(--font-family-mono);
    border: none;
    border-radius: var(--border-radius);
}

pre,
pre code {
    background: var(--pre-color-background);
}

code {
    padding: 0.2rem 0.4rem;
    font-size: 85%;
    font-family: var(--font-family-mono);
    background: var(--code-color-background);
    border-radius: var(--border-radius);
}

/* -------------------------------------------------- COPY BUTTON -------------------------------------------------- */

pre > button {
    top: 0.3rem;
    right: 0.3rem;
}

button {
    padding: 0.6rem 0.8rem;
    font-family: var(--font-family-body);
    font-weight: 500;
    font-size: 0.9rem;
    line-height: 1;
    cursor: pointer;
    appearance: none;
    user-select: none;
    text-align: center;
    text-decoration: none;
    color: var(--button-color);
    background: var(--button-background);
    box-shadow: var(--button-box-shadow);
    border: 1px solid var(--button-border-color);
    border-radius: var(--border-radius);
}

button:hover {
    color: var(--button-color-hover);
    background: var(--button-background-hover);
    border-color: var(--button-border-color-hover);
}

/* ---------------------------------------------------- PANELS ----------------------------------------------------- */



.tsd-panel-group,
.tsd-panel-group.tsd-index-group {
    margin: var(--member-group-spacing) 0;
}

.tsd-panel-group.tsd-index-group details {
    margin: 0;
}

.tsd-panel-group.tsd-member-group > h2 {
    font-size: var(--font-size-h2);
    margin: 0 0 var(--member-spacing) 0 !important;
}

.tsd-panel {
    margin: 0 0 var(--paragraph-spacing) 0;
}

/* ---------------------------------------------------- SOURCE ----------------------------------------------------- */

.tsd-sources {
    font-size: var(--font-size-aside);
    margin: 0 0 var(--paragraph-spacing) 0;
}

/* --------------------------------------------------- MESSAGES ---------------------------------------------------- */

/* Make warning a plain text */
.warning {
    padding: 0;
    margin: 0 0 var(--term-spacing) 0;
    font-size: var(--font-size-aside);
    background: none;
    color: var(--color-warning-text);
}

/* Color header related to a warning */
.warning ~ .tsd-anchor-link {
    color: var(--color-warning-text);
}

.warning ~ .tsd-anchor-link .tsd-tag {
    color: var(--color-warning-text);
}

/* ---------------------------------------------------- MEMBERS ---------------------------------------------------- */

.tsd-panel.tsd-member {
    margin: 0 0 var(--member-spacing) 0 !important;
}

/* Member header */
.tsd-member .tsd-anchor + h3 {
    display: block;
    padding: 0 0 var(--header-border-spacing) 0;
    margin: 0 0 var(--paragraph-spacing) 0;
    font-size: var(--font-size-h3);
    border-bottom: solid 1px var(--color-accent);
}

/* Copy link icon near member name */
.tsd-anchor-icon {
    display: inline;
    float: left;
    margin-left: var(--anchor-icon-offset);
}

.tsd-anchor-icon svg {
    width: var(--anchor-icon-size);
    height: var(--anchor-icon-size);
}

.tsd-comment {
    margin: 0 0 var(--paragraph-spacing) 0;
}

/* ---------------------------------------------- SIGNATURE PARAMETERS --------------------------------------------- */

.tsd-kind-type-parameter,
.tsd-kind-parameter {
    font-weight: normal;
}

.tsd-signature {
    border-radius: 8px;
}

.tsd-signatures {
    margin: 0;
}

/* Member signature */
.tsd-signatures .tsd-signature,
.tsd-signature {
    padding: 0;
    margin: 0 0 var(--paragraph-spacing) 0;
    border: none;
    font: inherit;
}

/* Border between signatures */
.tsd-signature ~ .tsd-signature {
    padding: var(--paragraph-spacing) 0 0 0;
    border-top: solid 1px var(--color-accent);
}

/* Remove marker from parameter lists */
ul.tsd-type-parameter-list,
ul.tsd-parameter-list {
    padding-left: var(--list-spacing);
    list-style-type: none;
}

/* Type parameters and Parameters heading */
ul.tsd-type-parameter-list > li > h4:first-child,
ul.tsd-parameter-list > li > h5:first-child {
    margin: 0 0 var(--term-spacing) 0;
    font-size: 1rem;
    font-weight: normal;
}

/* Parameter without a description */
ul.tsd-type-parameter-list > li > h4:last-child,
ul.tsd-parameter-list > li > h5:last-child {
    margin: 0 0 var(--paragraph-spacing) 0;
}

/* Make parameter name bold */
.tsd-type-parameter-list h4 .tsd-kind-type-parameter,
.tsd-parameter-list h5 .tsd-kind-parameter {
    font-weight: 500;
}

/* Prevent consequent parameter names (for example in callable type signature) to become bold */
.tsd-type-parameter-list h4 .tsd-kind-type-parameter ~ .tsd-kind-type-parameter,
.tsd-parameter-list h5 .tsd-kind-parameter ~ .tsd-kind-parameter {
    font-weight: normal;
}

/* Show parameter signature as a cut-in block */
.tsd-parameter-signature {
    margin: calc(var(--paragraph-spacing) / -2) calc(var(--paragraph-spacing) * -1) calc(var(--paragraph-spacing) / 2);
    padding: var(--paragraph-spacing);
    padding-bottom: 0.05px;
    background: var(--color-background-secondary);
}

/* Multiple signatures are separated with a delimiter */
.tsd-parameter-signature:first-child {
    border-top-left-radius: var(--border-radius);
    border-top-right-radius: var(--border-radius);
}

.tsd-parameter-signature:last-child {
    border-bottom-left-radius: var(--border-radius);
    border-bottom-right-radius: var(--border-radius);
}

.tsd-parameter-signature + .tsd-parameter-signature {
    border-top: solid 1px var(--color-accent);
}

/* Reset if signature is rendered for a named type */
.tsd-type-declaration .tsd-parameter-signature {
    padding: 0;
    margin: 0;
    background: none;
    border-radius: 0;
}

/* --------------------------------------------------- MODIFIERS --------------------------------------------------- */

.tsd-tag {
    color: var(--color-text-aside);
    background: none;
    text-transform: lowercase;
}

/* Protected, optional, etc. */
code.tsd-tag {
    padding: 0;
    margin: 0;
    border: none;
    font: inherit;
    font-weight: normal;
    font-style: italic;
}

/* ------------------------------------------------ PAGE NAVIGATION ------------------------------------------------ */

.tsd-navigation,
.tsd-page-navigation {
    margin: 0 0 var(--header-margin) 0;
}

.tsd-page-navigation a {
    display: flex;
    align-items: flex-start;
    width: auto;
    padding: 0.25rem 0;
}

.tsd-page-navigation {
    margin: var(--paragraph-spacing) 0 0 0;
}

.tsd-navigation a {
    display: flex;
    align-items: flex-start;
    width: 100%;
    padding: 0.25rem 0.4rem;
    border-radius: var(--border-radius);
}

.tsd-page-navigation .tsd-accordion-details {
    margin: var(--menu-spacing-vertical) 0 0 0;
}

.tsd-page-navigation ul {
    padding: 0 0 0 var(--menu-spacing-horizontal);
}

.tsd-nested-navigation {
    margin: 0 0 0 calc(var(--menu-spacing-horizontal) * 2);
}

.tsd-nested-navigation > li > a {
    display: flex;
    align-items: flex-start;
    width: auto;
    max-width: 100%;
}

.tsd-nested-navigation > li > a > span {
    overflow: hidden;
}

.tsd-nested-navigation > li > details {
    margin-left: 0;
}

.tsd-navigation .tsd-accordion-summary {
    position: relative;
    width: auto;
    display: flex;
    align-items: baseline;
}

.tsd-accordion-summary > h3 > svg {
    margin-right: 0.2rem;
}

.tsd-small-nested-navigation {
    margin: 0 0 0 var(--menu-spacing-horizontal);
}

.tsd-index-accordion {
    margin: var(--menu-spacing-vertical) 0;
}

/* --------------------------------------------------- SETTINGS ---------------------------------------------------- */

.tsd-navigation.settings {
    margin: 0;
}

.tsd-filter-visibility {
    margin: 0;
    padding: 0;
}

.tsd-filter-visibility h4 {
    margin: var(--paragraph-spacing) 0 var(--term-spacing) 0;
    padding: 0;
    font-weight: normal;
    text-transform: none;
}

.tsd-filter-visibility ul {
    padding: 0;
}

.tsd-filter-visibility .tsd-filter-item {
    margin: 0 0 var(--term-spacing) 0;
}

.tsd-theme-toggle {
    margin: var(--paragraph-spacing) 0 0 0;
    padding: 0;
}

.tsd-theme-toggle h4 {
    margin: 0 0.5rem 0 0;
    padding: 0;
    font-weight: normal;
    text-transform: none;
}

.settings .tsd-accordion-details {
    padding: 0 0 0 var(--menu-spacing-horizontal);
}

.tsd-filter-input input[type="checkbox"]:not(:checked) + svg {
    --color-text: transparent;
}

.tsd-checkbox-checkmark {
    stroke: var(--color-text);
}

/* --------------------------------------------------- HIERARCHY --------------------------------------------------- */

ul.tsd-hierarchy {
    list-style-type: none;
    padding-left: var(--list-spacing);
}

ul.tsd-hierarchy ul.tsd-hierarchy {
    margin-top: var(--term-spacing);
}

ul.tsd-hierarchy .target {
    font-weight: 500;
    font-style: italic;
}

/* ----------------------------------------------------- INDEX ----------------------------------------------------- */

/* Index subsections heading */
.tsd-index-panel .tsd-index-heading {
    margin: 0;
    padding: 0;
    text-transform: none;
}

.tsd-index-section .tsd-index-heading {
    margin: var(--header-margin);
}

/* Main heading */
.tsd-index-summary > .tsd-index-heading,
.tsd-index-panel > .tsd-index-heading {
    font-size: var(--font-size-h2);
}

.tsd-index-panel .tsd-index-list {
    padding: 0;
    margin: 0 0 var(--paragraph-spacing) 0;
}

a.tsd-index-link {
    align-items: flex-start;
    line-height: var(--line-height);
}

.tsd-kind-icon {
    margin-top: 0.14rem;
}

/* ---------------------------------------------------- SEARCH ----------------------------------------------------- */

.tsd-widget {
    height: 100%;
}

.tsd-widget.no-caption {
    width: auto;
}

.tsd-page-toolbar .table-cell {
    line-height: inherit;
}

.tsd-page-toolbar .tsd-toolbar-icon {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-grow: 0;
    flex-shrink: 0;
    width: var(--toolbar-icon-width);
    padding: 0;
}

.tsd-page-toolbar .tsd-toolbar-icon.menu {
    display: none;
}

#tsd-search {
    display: flex;
    align-items: center;
}

#tsd-search.has-focus {
    background: none;
}

/* Magnifying glass icon */
#tsd-search .field {
    display: flex;
    height: auto;
    width: 100%;
    position: absolute;
    top: auto;
    bottom: auto;
    right: 0;
    justify-content: flex-end;
}

#tsd-search .field input {
    z-index: 100;
    flex-grow: 1;
    padding: 0.3em var(--toolbar-icon-width) 0.3em 0.7em;
    border: solid 1px rgb(208, 215, 222);
}

#tsd-search .field input:focus {
    border-color: var(--input-border-color-focus);
    box-shadow: 0 0 0 1px var(--input-border-color-focus);
}

#tsd-search .field label {
    position: absolute;
    right: auto;
    z-index: 200;
}

#tsd-search .results {
    top: calc(100% + 0.45rem);
    overflow: hidden;
    border: solid 1px var(--input-border-color);
    border-radius: var(--border-radius);
    box-shadow: none;
}

#tsd-search:not(.ready) .results,
#tsd-search .results:empty {
    display: none;
}

#tsd-search .results li {
    padding: 0.5rem 0.7rem;
    background: var(--color-background-secondary);
}

#tsd-search .title {
    display: block;
    max-width: calc(100% - var(--toolbar-icon-width));
    position: absolute;
    overflow: hidden;
    text-overflow: ellipsis;
}

/* ----------------------------------------------------- PAGE ------------------------------------------------------ */

/* Header */
.tsd-page-toolbar .tsd-toolbar-contents {
    height: var(--header-height);

    /* Compensate navigation menu item padding */
    padding: 0 calc(var(--content-spacing) + 0.4rem);
}

.tsd-page-title > h1,
.tsd-page-title > h2 {
    padding: 0 0 var(--header-border-spacing) 0;
    font-size: var(--font-size-h1);
    border-bottom: solid 1px var(--color-accent);
}

/* Compensate for padding of .tsd-navigation a */
.page-menu {
    padding-left: 0.22rem;
}

.container {
    padding: 0;
}

.container-main {
    margin: 0;
}

.col-content {
    margin: var(--paragraph-spacing) 0 0 0;
    padding: 0 var(--content-spacing);
    overflow-x: hidden;
}

.col-content .tsd-panel:last-child {
    margin-bottom: var(--member-group-spacing);
}

@media (max-width: 769px) {
    :root {
        --font-size-h1: 1.8rem;
        --font-size-h2: 1.5rem;
        --font-size-h3: 1.3rem;
        --font-size-aside: 0.875rem;
        --header-height: 3rem;
        --line-height: 1.5;
        --member-group-spacing: 2rem;
        --member-spacing: 1.5rem;
        --paragraph-spacing: 0.5rem;
        --header-margin: 1rem 0 0.5rem 0;
        --term-spacing: 0.2rem;
        --list-spacing: 1rem;
        --menu-spacing-vertical: 0.4rem;
        --menu-spacing-horizontal: 1.5rem;
        --header-border-spacing: 0.1rem;
        --border-radius: 0.35rem;
        --table-padding: 0.5rem;
        --content-spacing: 1.2rem;
        --anchor-icon-offset: -1.1rem;
        --anchor-icon-size: 1.1rem;
    }

    h1, h2, h3, h4, h5, h6 {
        word-break: break-word;
    }

    .col-sidebar {
        gap: 0 !important;
        padding: var(--paragraph-spacing) !important;;
        overflow-y: auto;
        overflow-x: hidden;
    }

    .site-menu {
        padding: var(--paragraph-spacing) 0 0 0 !important;
    }

    .tsd-page-toolbar .tsd-toolbar-icon.menu {
        display: flex;
    }
}

@media (min-width: 770px) and (max-width: 1399px) {
    .col-sidebar {
        padding: var(--paragraph-spacing) 0;
        max-height: calc(100vh - var(--header-height));
        overflow-y: auto;
        overflow-x: hidden;
        position: sticky;
        top: var(--header-height);
    }

    .page-menu {
        padding: 0 0 0 var(--content-spacing);
        margin: 0 0 var(--paragraph-spacing) 0;
    }

    .site-menu {
        padding: 0 0 0 var(--content-spacing);
        margin: 0;
    }
}

@media (min-width: 1200px) {
    .page-menu, .site-menu {
        max-height: calc(100vh - var(--header-height));
        overflow: auto;
        position: sticky;
        top: var(--header-height);
    }

    .page-menu {
        padding: var(--paragraph-spacing) var(--content-spacing) var(--paragraph-spacing) 0;
    }

    .site-menu {
        padding: var(--paragraph-spacing) 0 var(--paragraph-spacing) var(--content-spacing);
    }
}

.tree-content {
    padding: 0 10px 20px !important;
}

aside.tsd-sources {
    display: none;
}